* { box-sizing: border-box; }

html, body { height: 100%; margin: 0; padding: 0; width: 100%; }

body { font-family: 'Arial'; font-size: 14px; line-height: 1.7; }
body.webgl { overflow: hidden; }

.install-banner { background-color: white; bottom: 0; display: none; padding: 10px; position: absolute; text-align: center; width: 100%; }
.install-banner-controls { white-space: nowrap; }
.install-banner-controls input[type=button] { background-color: white; border: 1px solid grey; border-radius: 8px; font-size: 18px; margin: 10px 5px 0 5px; padding: 10px 20px; }
.install-banner-controls #btnAccept { background-color: #AAFFAA; }
.install-banner-controls #btnDecline { background-color: #FFAAAA; }

#webGlCanvas  { font-family: 'Courier New'; font-size: 11px; height: 100%; width: 100%; }